APP_ENV=dev
PORT=8081

DB_HOST="localhost"
DB_NAME="coffee_docker"
DB_USER="postgres"
DB_PASS="postgres"
DB_PORT=5432

JWT_KEYS="scretjwt"

CD_NAME="dfcgwpbh0"
CD_KEY="897638254884926"
CD_SECRET="Nm8lMvcQKyGY8qG_N6_Xtl_eMl0"

# docker build -t taufikharahap/coffeeshop:1 .
# docker run --net devnet -e DB_HOST=some-postgres -p 8085:8081 taufikharahap/coffeeshop:1
# docker run --name some-postgres -e POSTGRES_USER=coffeeshop -e POSTGRES_PASSWORD=coffeeshop -e POSTGRES_DB=coffeeshop-docker -p 5432:5432 -d postgres:16.1
# docker run --name some-postgres -e POSTGRES_PASSWORD=postgres -p 5423:5432 -d postgres:16.1-alpine3.18
# DB_NAME="coffee_docker"